<html>
  <head>
    <link rel="stylesheet" href='/static/styles/main.css' />
  </head>
  <body>
    <h1>Home page</h1>
    <p>Put link or links to box</p>
    <form>
<!--      <input type="text" name="Text">-->
      <input type="text" name="url">
      <input type="submit" value="Parse Images" formaction="parser1"/>
    </form>
    <p>Use generator to generate urls from start to end</p>
      <form>
<!--      <input type="text" name="Text">-->
      <input type="text" name="left" value="left link"/>
      <input type="text" name="first" value="first value"/>
      <input type="text" name="last" value="last value"/>
      <input type="text" name="right" value="right link"/>
      <input type="submit" value="View" formaction="show_urls"/>
      <input type="submit" value="Start Parsing" formaction="parser2"/>
    </form>
  </body>
</html>
